<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScanTest</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            background-color: #f8f9fa;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Введите число вопросов</h1>
        <form action="/" method="post">
            <input type="number" name="num_questions" min="1" required>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>
</html>